.pagination {
  display: inline-block;
}

.pagination a {
  color: #0f5132;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #0f5132;
    color: white;
    border-radius: 20%;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 20%;

}