<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
Jesteśmy pięcioosobową rodziną, która kilkanaście lat temu przeprowadziła się na prawdziwą polską wieś.<br>
Mieszkamy na odludziu, dlatego książki często są najlepszymi towarzyszami, jeśli chcemy uniknąć nudy.<br>
Dużo czytaliśmy naszym dzieciom, kiedy były małe i w ten sposób udało się nam zaszczepić w nich, <br>
coraz rzadszą w dzisiejszych czasach, pasję czytania. <br>Niebagatalną rolę w naszym sukcesie wychowawczym<br>
gra fakt, że nie posiadamy telewizora.
</body>
</html>