<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/style_books.css">
    <script src="../static/js/books.js" defer></script>
    <title>Books</title>
</head>
<body>
<div class="main">
    <div class="image_2"></div>
    <div class="layer">
        <div class="text_2">
            <h1>Tutaj znajdziesz wszystkie nasze książki</h1>

            <div class="table-area">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Rok wydania</th>
                            <th scope="col">Ocena LC</th>
                            <th scope="col">Nasza ocena</th>
                        </tr>
                        </thead>
                        <tbody id="books-data"></tbody>
                    </table>
                </div>

            <ul class="list_books">
                {% for book in books %}
                <li>{{ book['title'] }}</li>
                {% endfor %}
            </ul>
            <div>
                <p><a class="link_btn" href="new_books">Wprowadź nową książkę</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>