<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home library</title>
    <meta charset="UTF-8">
    <meta name="author" content="Anna Gasiorowska"/>
    <meta name="description" content="home library management system to catalogue
    and easily search books from family collection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family-Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</script>
</head>
<body>
    <div class="main">
        <div class="image_1"></div>
        <div class="layer">
            <div class="text_1">
                <div class="rectangle"><h2>BG</h2></div>
                <p>Biblioteka Gąsiorowskich</p>
                <h1>Zaczytaj się wśród natury</h1>
                <br>
                <span></span>
                <br>
                <p>Cenimy książki. Są w naszym domu wszędzie.
                    <br>Czytamy po kilka na raz, a rozmowy rodzinne często przeplatane są cytatami <br>
                    z ulubionych tomów.<br>
                <input type="button" class="text_1_btn" value="Zobacz co czytamy"></p>
            </div>
        </div>
    </div>
    <a href="#"><i class="fa fa-close"></i></a>
    <a href="#"><i class="fa fa-bars"></i></a>
    <div class="menu">
        <div class="background">
            <div class="home"><i class="fa fa-home"></i><a href="#">Home</a></div>
            <div class="portfolio"><i class="fa fa-book"></i><a href="#">Portfolio</a></div>
            <div class="about"><i class="fa fa-user"></i><a href="#">About us</a></div>
            <div class="blog"><i class="fa fa-inbox"></i><a href="#">Blog</a></div>
            <div class="faq"><i class="fa fa-tag"></i><a href="#">FAQs</a></div>
            <div class="contact"><i class="fa fa-phone"></i><a href="#">Contact</a></div>
        </div>
    </div>
<script src="jquery.js"></script>
</body>
</html>