<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form to add new authors</title>
</head>
<body>
<form class="form" action="/new_authors" method="post">
        <p>Podaj imię autora:</p>
            <input class="new_data" type="text" name="author_first">
        <p>Podaj nazwisko autora:</p>
            <input class="new_data" type="text" name="author_last">
        <p>Podaj rok urodzenia:</p>
            <input class="new_data" type="text" name="birth_year">
        <p>Podaj miesiąc urodzenia:</p>
            <input class="new_data" type="text" name="birth_month">
        <p>Podaj dzień urodzenia:</p>
            <input class="new_data" type="text" name="birth_day">
        <p>Podaj kraj zamieszkania:</p>
            <input class="new_data" type="text" name="origin">

    <button type="submit" class="btn"><strong>Prześlij</strong></button>
</form>
</body>
</html>